In [0]:
from google.colab import drive

In [0]:
drive.mount("/content/drive",force_remount=True)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pandas as pd
import numpy as np

In [0]:
teams=pd.read_csv("/content/drive/My Drive/ML Project_Prediction/Team Pos_year - Sheet1.csv")

In [0]:
teams=teams.rename(columns={"Pos":"Teams","Pos.1":"Pos"})
tm=[]
tm.append(list((teams.loc[teams["Year"]==15])["Teams"]))
tm.append(list((teams.loc[teams["Year"]==16])["Teams"]))
tm.append(list((teams.loc[teams["Year"]==17])["Teams"]))
tm.append(list((teams.loc[teams["Year"]==18])["Teams"]))
tm.append(list((teams.loc[teams["Year"]==19])["Teams"]))

In [0]:
players=pd.read_csv("/content/drive/My Drive/ML Project_Prediction/Schema 1 - Sheet1.csv")

In [0]:
players.head()

   Sl                          Name Pos  Rating                 Team  FIFA
0   1            Zlatan Ibrahimović  fw      90  Paris Saint-Germain    15
1   2      Thiago Emiliano da Silva  df      87  Paris Saint-Germain    15
2   3  Edinson Roberto Cavani Gómez  fw      85  Paris Saint-Germain    15
3   4              Salvatore Sirigu  gk      84  Paris Saint-Germain    15
4   5                Blaise Matuidi  mf      83  Paris Saint-Germain    15

In [0]:
all_pos=[] #Gk,Def,Mid,Att
for i in range(4):
  all_pos.append([])
for index,row in players.iterrows():
  if(row["Pos"]=="gk"):
    all_pos[0].append([row["Name"],row["Rating"],row["Team"],row["FIFA"]])
  elif(row["Pos"]=="df"):
    all_pos[1].append([row["Name"],row["Rating"],row["Team"],row["FIFA"]])
  elif(row["Pos"]=="mf"):
    all_pos[2].append([row["Name"],row["Rating"],row["Team"],row["FIFA"]])
  elif(row["Pos"]=="fw"):
    all_pos[3].append([row["Name"],row["Rating"],row["Team"],row["FIFA"]])

In [0]:
t_r=[]
tmp={}
for i in tm:
  for j in i:
    tmp[j]=[]
  t_r.append(tmp)
  tmp={}

t_r => teams_ratings

In t_r we have all teams from 15 to 19, with index 0 being 15 and 19 being index 4.

In the list as value, we will store values as

0=>Gk

1=>Def

2=>Mid

3=>Att

In [0]:
for i in tm[0]:
  print(i)

Paris Saint-Germain
Olympique Lyonnais
AS Monaco
Olympique de Marseille
AS Saint-Étienne
FC Girondins de Bordeaux
Montpellier HSC
LOSC Lille
Stade Rennais FC
En Avant de Guingamp
OGC Nice
Sporting Club de Bastia
Stade Malherbe Caen
FC Nantes
Stade de Reims
FC Lorient
Toulouse Football Club
Évian Thonon Gaillard FC
FC Metz
Racing Club de Lens

In [0]:
for j in range(len(tm)):
  for i in tm[j]:
    gk=0
    gk_ct=0
    df=0
    df_ct=0
    md=0
    md_ct=0
    at=0
    at_ct=0
    for index,row in players.iterrows():
      if(row["Team"]==i and row["Pos"]=="gk"):
        gk+=row["Rating"]
        gk_ct+=1
      if(row["Team"]==i and row["Pos"]=="df"):
        df+=row["Rating"]
        df_ct+=1
      if(row["Team"]==i and row["Pos"]=="mf"):
        md+=row["Rating"]
        md_ct+=1
      if(row["Team"]==i and row["Pos"]=="fw"):
        at+=row["Rating"]
        at_ct+=1
    temp=[gk/gk_ct,df/df_ct,md/md_ct,at/at_ct,gk/gk_ct]
    temp.append(sum(temp))
    t_r[j][i]=temp

In [0]:
import csv

In [0]:
with open("/content/drive/My Drive/ML Project_Prediction/Schema 2 - Schema 2 - Sheet1.csv","w",newline='') as myfile:
  wr=csv.writer(myfile,delimiter=',',quotechar='|',quoting=csv.QUOTE_MINIMAL)
  wr.writerow(["Sl","Year","Team","Gk","Def","Mid","Att","Sum"])

In [0]:
ind=1
with open("/content/drive/My Drive/ML Project_Prediction/Schema 2 - Schema 2 - Sheet1.csv","a",newline='') as myfile:
  wr=csv.writer(myfile,delimiter=',',quotechar='|',quoting=csv.QUOTE_MINIMAL)
  for i in range(len(tm)):
    for j in tm[i]:
      wr.writerow([ind,15+i,j,t_r[i][j][0],t_r[i][j][1],t_r[i][j][2],t_r[i][j][3],t_r[i][j][4]])
      ind+=1