In [0]:
from google.colab import drive
drive.mount("/content/drive",force_remount=True)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pandas as pd
import numpy as np

In [0]:
pred=pd.read_csv("/content/drive/My Drive/ML Project_Prediction/Schema 3 - Sheet1.csv")

In [0]:
from sklearn import preprocessing
le=preprocessing.LabelEncoder()
pred["HT"]=le.fit_transform(pred["HT"])
pred["AT"]=le.fit_transform(pred["AT"])
#pred["Result"]=le.fit_transform(pred["Result"])

In [0]:
pred.head()

   Sl  HT  AT  Year  ...       ADef       AMid        AFw  Result
0   1  13  20    15  ...  77.000000  75.975610  79.568182       A
1   2  20  23    15  ...  71.658537  69.490909  72.361111       H
2   3  18  22    15  ...  69.647059  68.387755  69.794118       A
3   4  14   6    15  ...  60.000000  60.000000  60.000000       A
4   5  12   9    15  ...  70.100000  70.348837  69.575758       H

[5 rows x 33 columns]

In [0]:
for index,rows in pred.iterrows():
  if(rows["PosnH"]==0):
    rows["PosnH"]=21
  if(rows["PosnA"]==0):
    rows["PosnA"]=21

In [0]:
for i in pred:
  if(pred[i].isnull().any().any()==True):
    pred=pred.drop([i],axis=1)

In [0]:
from sklearn import svm

In [0]:
pred

        Sl  HT  AT  Year  ...       ADef       AMid        AFw  Result
0        1  13  20    15  ...  77.000000  75.975610  79.568182       A
1        2  20  23    15  ...  71.658537  69.490909  72.361111       H
2        3  18  22    15  ...  69.647059  68.387755  69.794118       A
3        4  14   6    15  ...  60.000000  60.000000  60.000000       A
4        5  12   9    15  ...  70.100000  70.348837  69.575758       H
...    ...  ..  ..   ...  ...        ...        ...        ...     ...
1517  1518  15  18    18  ...  73.191489  72.186047  70.078431       A
1518  1519  23  20    18  ...  77.000000  75.975610  79.568182       H
1519  1520  22  14    18  ...  69.314286  70.979592  71.375000       H
1520  1521   2   1    19  ...  73.116279  72.912281  71.447368      H
1521  1522  16  10    19  ...  71.944444  70.132075  71.238095       N

[1522 rows x 18 columns]

In [0]:
train=pred.loc[pred["Sl"]!=1522]
test=pred.loc[pred["Sl"]==1522]
train=train.drop(["Year","Sl"],axis=1)
test=test.drop(["Year","Sl"],axis=1)

In [0]:
test

      HT  AT  PosnH  PosnA  ...       ADef       AMid        AFw  Result
1521  16  10    9.9    7.5  ...  71.944444  70.132075  71.238095       N

[1 rows x 16 columns]

In [0]:
X_train=train.iloc[:,:-1]
y_train=train.iloc[:,-1]
X_test=test.iloc[:,:-1]
y_test=test.iloc[:,-1].tolist()

In [0]:
svm_model=svm.SVC(gamma='scale')
svm_model.fit(X_train,y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [0]:
predc=svm_model.predict(X_test)

In [0]:
predc

array(['H'], dtype=object)

In [0]:
ct=0
for i in range(len(predc)):
  if(predc[i]==y_test[i]):
    ct+=1

In [0]:
ct

1

In [0]:
from sklearn.neural_network import MLPClassifier

In [0]:
clf = MLPClassifier(solver='lbfgs', alpha=1e-6)

In [0]:
clf.fit(X_train,y_train)

MLPClassifier(activation='relu', alpha=1e-06, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(100,), learning_rate='constant',
              learning_rate_init=0.001, max_iter=200, momentum=0.9,
              n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
              random_state=None, shuffle=True, solver='lbfgs', tol=0.0001,
              validation_fraction=0.1, verbose=False, warm_start=False)

In [0]:
pred_mlp=clf.predict(X_test)

In [0]:
pred_mlp

array(['H'], dtype='<U2')

In [0]:
ct2=0
for i in range(len(pred_mlp)):
  if(pred_mlp[i]==y_test[i]):
    ct2+=1

In [0]:
 ct2

0

In [0]:
from sklearn.ensemble import AdaBoostClassifier

In [0]:
clf=AdaBoostClassifier(n_estimators=9)

In [0]:
clf.fit(X_train,y_train)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None, learning_rate=1.0,
                   n_estimators=9, random_state=None)

In [0]:
prd=clf.predict(X_test)

In [0]:
prd

array(['A'], dtype=object)

In [0]:
ct=0
for i in range(len(prd)):
  if(prd[i]==y_test[i]):
    ct+=1

In [0]:
ct

0